body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.flex-center {
  display: flex;
  justify-content: space-around;
}

.inputs {
  margin-top: 50px;
}

img {
  height: 400px;
  width: auto;
  margin: 1vw;
  flex-basis: 20%;
  border-radius: 5px;
  box-shadow: 0 0 50px black;

}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
